.card-container {
  padding: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 13px;
  justify-content: space-around;
  width: 100%;
  .ant-card.ant-card-bordered.ant-card-hoverable{
      margin: 0 20px;

  }
  .ant-card-meta-title{
      font-size: 13px;
  }
  .card {
      margin-bottom: 10px;
    & > img {
      padding: 0 20px;
    }
    .bot {
      display: flex;
      justify-content: space-between;
      padding-top: 28px;
      .right {
        & > i {
          color: orange;
          padding-left: 8px;
        }
      }
    }
  }
}
