@import "../../../../assets/variables";

.intro-container{
    position: relative;
    color: $white;
.img-intro{
    width: 100%;
    background-size: cover;
    // width: 99vw;
    object-position: right top;
    
  
}
.text-content{
   
    // height: 100%;

    position: absolute;
    top:25%;
    left: 10%;
    // width:600px;
    p{
        font-weight: 500;
        font-size: 9px;
    }
    
}
h1{
    color: $white;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 6.5px;
}

}