//Colors
$gray: #C4C4C4;
$bgGray:#F7F8F9;
$lightGray:#E9E9E9;
$black:#000000;
$white:#FFFFFF;
$dr-back:#222222;
$orange:#EA5D2D;
$orange-primary:#f16318;
$orange-secondary:#f8a20e;
$orange-sub:#fdd526;


//Font
$main-font:"font-family: 'Montserrat', sans-serif;"